USE [CollegeAttestationDB]
GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[ClassroomID] [int] IDENTITY(1,1) NOT NULL,
	[ClassroomNumber] [nvarchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[ClassroomType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassroomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[DebtID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[DisciplineID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[DebtStatus] [nvarchar](20) NOT NULL,
	[DateRecorded] [datetime] NOT NULL,
	[IsCleared] [bit] NOT NULL,
	[DateCleared] [datetime] NULL,
	[Grade] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DebtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[DisciplineID] [int] IDENTITY(1,1) NOT NULL,
	[DisciplineName] [nvarchar](150) NOT NULL,
	[TotalHours] [int] NOT NULL,
	[ControlType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DisciplineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Course] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResitSchedules]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResitSchedules](
	[ResitScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[DebtID] [int] NOT NULL,
	[ScheduledDate] [datetime] NOT NULL,
	[ClassroomID] [int] NULL,
	[AttemptNumber] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResitScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[DebtID] [int] NOT NULL,
	[ExamDate] [date] NOT NULL,
	[TimeSlot] [int] NOT NULL,
	[ClassroomID] [int] NOT NULL,
	[TimeSlotID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCardNumber] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[GroupID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherDisciplines]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherDisciplines](
	[TeacherID] [int] NOT NULL,
	[DisciplineID] [int] NOT NULL,
 CONSTRAINT [PK_TeacherDisciplines] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC,
	[DisciplineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[TimeSlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotNumber] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.07.2026 19:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classrooms] ON 

INSERT [dbo].[Classrooms] ([ClassroomID], [ClassroomNumber], [Capacity], [ClassroomType]) VALUES (1, N'312а', 25, N'Компьютерный класс')
INSERT [dbo].[Classrooms] ([ClassroomID], [ClassroomNumber], [Capacity], [ClassroomType]) VALUES (2, N'305', 30, N'Лекционная')
INSERT [dbo].[Classrooms] ([ClassroomID], [ClassroomNumber], [Capacity], [ClassroomType]) VALUES (3, N'218', 20, N'Лаборатория')
GO
SET IDENTITY_INSERT [dbo].[Classrooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Debts] ON 

INSERT [dbo].[Debts] ([DebtID], [StudentID], [DisciplineID], [TeacherID], [DebtStatus], [DateRecorded], [IsCleared], [DateCleared], [Grade]) VALUES (8, 2, 1, 1, N'Сдан', CAST(N'2026-05-22T00:44:22.327' AS DateTime), 1, CAST(N'2026-05-28T01:23:59.573' AS DateTime), NULL)
INSERT [dbo].[Debts] ([DebtID], [StudentID], [DisciplineID], [TeacherID], [DebtStatus], [DateRecorded], [IsCleared], [DateCleared], [Grade]) VALUES (9, 3, 2, 1, N'Сдан', CAST(N'2026-05-22T00:44:22.367' AS DateTime), 1, CAST(N'2026-06-01T12:16:02.403' AS DateTime), NULL)
INSERT [dbo].[Debts] ([DebtID], [StudentID], [DisciplineID], [TeacherID], [DebtStatus], [DateRecorded], [IsCleared], [DateCleared], [Grade]) VALUES (12, 1, 1, 1, N'Сдан', CAST(N'2026-05-22T01:24:35.780' AS DateTime), 1, CAST(N'2026-05-28T01:24:05.870' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Debts] OFF
GO
SET IDENTITY_INSERT [dbo].[Disciplines] ON 

INSERT [dbo].[Disciplines] ([DisciplineID], [DisciplineName], [TotalHours], [ControlType]) VALUES (1, N'Разработка модулей программного обеспечения', 144, N'Экзамен')
INSERT [dbo].[Disciplines] ([DisciplineID], [DisciplineName], [TotalHours], [ControlType]) VALUES (2, N'Проектирование баз данных', 108, N'Дифференцированный зачет')
INSERT [dbo].[Disciplines] ([DisciplineID], [DisciplineName], [TotalHours], [ControlType]) VALUES (3, N'Основы алгоритмизации и программирования', 72, N'Зачет')
SET IDENTITY_INSERT [dbo].[Disciplines] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupID], [GroupName], [Department], [Course]) VALUES (1, N'ИСП-311', N'Информационные технологии и программирование', 3)
INSERT [dbo].[Groups] ([GroupID], [GroupName], [Department], [Course]) VALUES (2, N'ИСП-421', N'Информационные технологии и программирование', 4)
INSERT [dbo].[Groups] ([GroupID], [GroupName], [Department], [Course]) VALUES (3, N'ДО-215', N'Дошкольное образование', 2)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (2, N'Заведующий отделением')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (3, N'Преподаватель')
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([ScheduleID], [DebtID], [ExamDate], [TimeSlot], [ClassroomID], [TimeSlotID]) VALUES (2900, 1021, CAST(N'2026-06-09' AS Date), 1, 5, 1)
INSERT [dbo].[Schedules] ([ScheduleID], [DebtID], [ExamDate], [TimeSlot], [ClassroomID], [TimeSlotID]) VALUES (2911, 1032, CAST(N'2026-06-09' AS Date), 2, 1255, 2)
INSERT [dbo].[Schedules] ([ScheduleID], [DebtID], [ExamDate], [TimeSlot], [ClassroomID], [TimeSlotID]) VALUES (2919, 1040, CAST(N'2026-06-09' AS Date), 4, 1294, 4)
GO
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentCardNumber], [LastName], [FirstName], [MiddleName], [GroupID]) VALUES (1, N'23101', N'Иванов', N'Алексей', N'Петрович', 1)
INSERT [dbo].[Students] ([StudentID], [StudentCardNumber], [LastName], [FirstName], [MiddleName], [GroupID]) VALUES (2, N'23102', N'Петрова', N'Мария', N'Сергеевна', 1)
INSERT [dbo].[Students] ([StudentID], [StudentCardNumber], [LastName], [FirstName], [MiddleName], [GroupID]) VALUES (3, N'22201', N'Смирнов', N'Дмитрий', N'Александрович', 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
INSERT [dbo].[TeacherDisciplines] ([TeacherID], [DisciplineID]) VALUES (1, 1)
INSERT [dbo].[TeacherDisciplines] ([TeacherID], [DisciplineID]) VALUES (4, 1)
INSERT [dbo].[TeacherDisciplines] ([TeacherID], [DisciplineID]) VALUES (1011, 1)
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherID], [LastName], [FirstName], [MiddleName], [UserID]) VALUES (1, N'Петрова', N'Мария', N'Владимировна', 5)
INSERT [dbo].[Teachers] ([TeacherID], [LastName], [FirstName], [MiddleName], [UserID]) VALUES (2, N'Соколова', N'Елена', N'Ивановна', 6)
INSERT [dbo].[Teachers] ([TeacherID], [LastName], [FirstName], [MiddleName], [UserID]) VALUES (3, N'Морозов', N'Павел', N'Андреевич', 7)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([TimeSlotID], [SlotNumber], [StartTime], [EndTime], [Description]) VALUES (1, 1, CAST(N'08:00:00' AS Time), CAST(N'09:35:00' AS Time), N'1-я пара')
INSERT [dbo].[TimeSlots] ([TimeSlotID], [SlotNumber], [StartTime], [EndTime], [Description]) VALUES (2, 2, CAST(N'09:55:00' AS Time), CAST(N'11:30:00' AS Time), N'2-я пара')
INSERT [dbo].[TimeSlots] ([TimeSlotID], [SlotNumber], [StartTime], [EndTime], [Description]) VALUES (3, 3, CAST(N'12:00:00' AS Time), CAST(N'13:35:00' AS Time), N'3-я пара')
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserLogin], [UserPassword], [RoleID]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Users] ([UserID], [UserLogin], [UserPassword], [RoleID]) VALUES (2, N'zavotdel1', N'zavotdelPassword', 2)
INSERT [dbo].[Users] ([UserID], [UserLogin], [UserPassword], [RoleID]) VALUES (3, N'1', N'1', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Schedule__5F7687B43E51D02C]    Script Date: 02.07.2026 19:23:59 ******/
ALTER TABLE [dbo].[Schedules] ADD UNIQUE NONCLUSTERED 
(
	[DebtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__A42001B2073527E5]    Script Date: 02.07.2026 19:23:59 ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[StudentCardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT (getdate()) FOR [DateRecorded]
GO
ALTER TABLE [dbo].[Debts] ADD  CONSTRAINT [DF_Debts_IsCleared]  DEFAULT ((0)) FOR [IsCleared]
GO
ALTER TABLE [dbo].[ResitSchedules] ADD  CONSTRAINT [DF_ResitSchedules_AttemptNumber]  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[ResitSchedules] ADD  CONSTRAINT [DF_ResitSchedules_Status]  DEFAULT ('Planned') FOR [Status]
GO
ALTER TABLE [dbo].[ResitSchedules] ADD  CONSTRAINT [DF_ResitSchedules_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Disciplines] FOREIGN KEY([DisciplineID])
REFERENCES [dbo].[Disciplines] ([DisciplineID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Disciplines]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Students]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Teachers] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([TeacherID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Teachers]
GO
ALTER TABLE [dbo].[ResitSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ResitSchedules_Classrooms] FOREIGN KEY([ClassroomID])
REFERENCES [dbo].[Classrooms] ([ClassroomID])
GO
ALTER TABLE [dbo].[ResitSchedules] CHECK CONSTRAINT [FK_ResitSchedules_Classrooms]
GO
ALTER TABLE [dbo].[ResitSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ResitSchedules_Debts] FOREIGN KEY([DebtID])
REFERENCES [dbo].[Debts] ([DebtID])
GO
ALTER TABLE [dbo].[ResitSchedules] CHECK CONSTRAINT [FK_ResitSchedules_Debts]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Classrooms] FOREIGN KEY([ClassroomID])
REFERENCES [dbo].[Classrooms] ([ClassroomID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Classrooms]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Debts] FOREIGN KEY([DebtID])
REFERENCES [dbo].[Debts] ([DebtID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Debts]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_TimeSlots] FOREIGN KEY([TimeSlotID])
REFERENCES [dbo].[TimeSlots] ([TimeSlotID])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_TimeSlots]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Groups]
GO
ALTER TABLE [dbo].[TeacherDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_TD_Discipline] FOREIGN KEY([DisciplineID])
REFERENCES [dbo].[Disciplines] ([DisciplineID])
GO
ALTER TABLE [dbo].[TeacherDisciplines] CHECK CONSTRAINT [FK_TD_Discipline]
GO
ALTER TABLE [dbo].[TeacherDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_TD_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([TeacherID])
GO
ALTER TABLE [dbo].[TeacherDisciplines] CHECK CONSTRAINT [FK_TD_Teacher]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
